body {
	margin: 0;
	font-family: "Lucida Grande", "Open Sans", Helvetica, Arial, sans-serif;
}

.border_test {
	border: solid 2px red !important;
}

header {
	border-top: solid 2px turquoise;
	border-bottom: solid 2px turquoise;
}

nav {
	background-color: #fbfbfb;
	border-bottom: solid 2px turquoise;
}

section {
	min-height: 500px;
	padding-bottom: 20px;
	border-bottom: solid 2px turquoise;
}

footer {
	border-bottom: solid 2px turquoise;
}

label {
	font-weight: bold;
}

/*padding*/
.no-padding {
	padding: 0px !important;
}

.add-padding {
	padding: 15px !important;
}

.rlp {
	padding-left: 0px !important;
}

.rrp {
	padding-right: 0px !important;
}

.rtp {
	padding-top: 0px !important;
}

.rbp {
	padding-bottom: 0px !important;
}

.alp {
	padding-left: 15px !important;
}

.arp {
	padding-right: 15px !important;
}

.atp {
	padding-top: 15px !important;
}

.abp {
	padding-bottom: 15px !important;
}

/*margin*/
.no-margin {
	margin: 0px !important;
}

.add-margin {
	margin: 15px !important;
}

.rlm {
	margin-left: 0px !important;
}

.rrm {
	margin-right: 0px !important;
}

.rtm {
	margin-top: 0px !important;
}

.rbm {
	margin-bottom: 0px !important;
}

.alm {
	margin-left: 15px !important;
}

.arm {
	margin-right: 15px !important;
}

.atm {
	margin-top: 15px !important;
}

.abm {
	margin-bottom: 15px !important;
}

.shadow {
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.smooth-shadow {
	box-shadow: 0 7px 7px #ddd;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

/*text alignment*/
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

.no-border {
	border: none !important;
}

.no-bg {
	background: #fff;
}

.message-error {
	border-radius: 5px;
	background-color: #f2dede;
	color: #a00;
}

.message-error * {
	color: #a00;
}

.message-success {
	border-radius: 5px;
	background-color: #c8e5bc;
	color: #3c763d;
}

.message-success * {
	color: #3c763d;
}

/**************************************************************/

#user-top {
	color: #000;
	text-decoration-line: none;
	float: right;
	margin: 4px 4px 0 0;
}

#user-top:hover {
	background-color: rgba(0, 0, 0, .1);
}

#user-top b {
	display: inline-block;
	vertical-align: top;
	height: 20px;
	margin-top: 15px;
}

#top-user-picture {
	height: 40px;
	padding: 2px;
	border: solid 1px #ccc;
	border-radius: 50%;
}

#menu-top {
	margin: 2px 0 7px 0;
	list-style: none;
	text-align: right;
}

#menu-top>li {
	display: inline-block;
}

#menu-top>li>a {
	text-decoration-line: none;
	color: #000;
	padding: 5px 10px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu-top>li>a:hover {
	margin-bottom: -5px;
	border-bottom: solid 5px turquoise;
}

#menu-aside-toggle-btn {
	position: absolute;
	padding: 3px 8px;
	margin: -2px;
}

#menu-aside-toggle-btn:hover {
	cursor: pointer;
}

#menu-aside-toggle-btn>hr {
	width: 20px;
	height: 3px;
	background-color: #000;
	margin: 3px 0;
}

#menu-aside {
	position: absolute;
	min-height: 500px;
	background-color: #fff;
	box-shadow: 2px -1px 7px #aaa;
}

#menu-aside>div {
	min-height: 500px;
	background-color: rgba(0, 0, 0, .01);
}

#menu-aside>div>a {
	text-decoration-line: none;
	display: block;
	padding: 5px;
	margin: 5px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	color: #000;
	box-shadow: 0 0 7px #ddd;
}

#menu-aside>div>a:hover {
	border-left: solid 10px turquoise;
	border-right: solid 10px turquoise;
}

.form-control {
	display: block;
	width: 100%;
	border: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 0 2px;
}

.btn {
	padding: 5px;
	color: #000;
	text-decoration-line: none;
	border: solid 1px #ccc;
	border-radius: 5px;
}

.submit-btn {
	color: #fff;
	font-weight: bold;
	background-color: turquoise;
	border-radius: 10px;
}

.submit-btn:hover {
	cursor: pointer;
}

/*tables*/
.table {
	width: 100%;
	border-collapse: collapse;
}

.table thead,
.table tfoot,
.table th,
.table tr,
.table td {
	white-space: nowrap;
}

.table-bordered thead,
.table-bordered tfoot,
.table-bordered th,
.table-bordered tr,
.table-bordered td {
	border: solid 1px #ddd;
}

.table-bordered-top thead,
.table-bordered-top tfoot,
.table-bordered-top th,
.table-bordered-top tr,
.table-bordered-top td {
	border-top: solid 1px #ddd;
}

.table-bordered-bottom thead,
.table-bordered-bottom tfoot,
.table-bordered-bottom th,
.table-bordered-bottom tr,
.table-bordered-bottom td {
	border-bottom: solid 1px #ddd;
}

.table-hover tr:hover {
	background-color: #eee;
}

.table-responsive {
	overflow-x: auto;
}

.table-head {
	background-color: #eee;
	color: #000;
}

.table th,
.table td {
	padding: 15px 5px;
}

.order-in-transit {
	color: #fff;
	background-color: #f0ad4e;
}

.order-delivered {
	color: #fff;
	background-color: #5cb85c;
}

.cancel-order {
	color: #fff;
	background-color: #a00;
}

.order-details {
	background-color: #fbfbfb;
}

/********************** media query **********************/
@media screen and (max-width:768px) {

	form input,
	form button[type="submit"],
	form select,
	.input-group-addon {
		height: 24px !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	#logo-top {
		height: 40px;
		padding: 5px;
	}

	section {
		margin: 0px;
		width: 100%;
	}

	#menu-aside {
		display: none;
		width: 60%;
	}

	.container {
		padding: 0 5px;
	}

	#user-signup,
	#user-signin,
	#create-order {
		width: 80%;
		margin-left: 9%;
		padding: 0 15px 15px 15px;
	}
}


@media screen and (min-width:768px) {

	form input,
	form button[type="submit"],
	form select,
	.input-group-addon {
		height: 32px !important
	}

	#logo-top {
		height: 45px;
		padding: 5px;
	}

	section {
		width: 80%;
		margin-left: 20%;
	}

	#menu-aside {
		display: block;
		width: 20%;
	}

	.container {
		padding: 0 30px;
	}

	#user-signup,
	#user-signin {
		width: 50%;
		margin-left: 25%;
		padding: 0 15px 15px 15px;
	}

	#create-order {
		width: 70%;
		margin-left: 15%;
		padding: 0 15px 15px 15px;
	}
}

/*********************************************************************/