extends layout

block section
  div(class="container")
    div(id="user-signup", class="smooth-shadow atm")

      if error
        div(class="message-error add-padding text-center") Sorry, your account was not created. Please try again!

      fieldset
        legend
          h1 Sing-up
        form(role="form", method="post", action="signup")
          label(for="fname") First name
          input(type="text", class="form-control smooth-shadow", name="fname", required="required")
          br
          label(for="lname") Last name
          input(type="text", class="form-control smooth-shadow", name="lname", required="required")
          br
          label(for="uname") Username
          input(type="text", class="form-control smooth-shadow", name="uname", required="required")
          br
          label(for="password") Password
          input(type="password", class="form-control smooth-shadow", name="password", required="required")
          br
          label(for="cpassword") Confirm Password
          input(type="password", class="form-control smooth-shadow", name="cpassword", required="required")
          br
          label(for="phone") Phone
          input(type="text", class="form-control smooth-shadow", name="phone", required="")
          br
          label(for="email") Email
          input(type="email", class="form-control smooth-shadow", name="email")
          br
          label(for="country") Country
          input(type="text", class="form-control smooth-shadow", name="country", required="")
          br
          label(for="city") City
          input(type="text", class="form-control smooth-shadow", name="city", required="")
          br
          label(for="address") Address
          input(type="text", class="form-control smooth-shadow", name="address", required="")
          br
          div(class="text-center")
            button(type="submit", class="submit-btn no-border smooth-shadow alp arp") Submit
