body {
	margin: 0;
	font-family: "Lucida Grande", "Open Sans", Helvetica, Arial, sans-serif;
}

.border_test {
	border: solid 2px red !important;
}

#header {
	display: none;
	border-top: solid 2px turquoise;
	border-bottom: solid 1px turquoise;
	background-color: #fff;
	z-index: 12;
}

#nav {
	display: none;
	background-color: #fbfbfb;
	border-bottom: solid 0.5px turquoise;
	z-index: 12;
}

#user-menu-aside,
#admin-menu-aside {
	display: none;
	background-color: #fbfbfb;
	box-shadow: 0 3px 3px #222;
	z-index: 12;
}

#section {
	display: none;
	padding-top: 5px;
	padding-bottom: 20px;
}

#footer {
	display: none;
	border-top: solid 1px turquoise;
}

label {
	font-weight: bold;
}

input,
select {
	background-color: #fafafa !important;
}

label[class="error"] {
  color: #a00;
  font-size: 12px;
}

input[class*="error"] {
  background-color: #f2dede;
  background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
}

.no-padding {
	padding: 0px !important;
}

.add-padding {
	padding: 15px !important;
}

.rlp {
	padding-left: 0px !important;
}

.rrp {
	padding-right: 0px !important;
}

.rtp {
	padding-top: 0px !important;
}

.rbp {
	padding-bottom: 0px !important;
}

.alp {
	padding-left: 15px !important;
}

.arp {
	padding-right: 15px !important;
}

.atp {
	padding-top: 15px !important;
}

.abp {
	padding-bottom: 15px !important;
}

.no-margin {
	margin: 0px !important;
}

.add-margin {
	margin: 15px !important;
}

.rlm {
	margin-left: 0px !important;
}

.rrm {
	margin-right: 0px !important;
}

.rtm {
	margin-top: 0px !important;
}

.rbm {
	margin-bottom: 0px !important;
}

.alm {
	margin-left: 15px !important;
}

.arm {
	margin-right: 15px !important;
}

.atm {
	margin-top: 15px !important;
}

.abm {
	margin-bottom: 15px !important;
}

.shadow {
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.smooth-shadow {
	box-shadow: 0 7px 7px #ddd;
}

.hidden {
	display: none;
}

.img-responsive {
	width: 100%;
}

.block {
	display: block!important;
}

.inline-block {
	display: inline-block!important;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-danger {
	color: #a00;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

.no-border {
	border: none !important;
}

.no-bg {
	background: #fff;
}

.badge {
	background-color: turquoise;
	font-weight: bold;
	padding: 3px 7px;
	border-radius: 50%;
}

.message-error {
	border-radius: 5px;
	background-color: #f2dede;
	color: #a00;
}

.message-error * {
	color: #a00;
}

.message-success {
	border-radius: 5px;
	background-color: #c8e5bc;
	color: #3c763d;
}

.message-success * {
	color: #3c763d;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 123;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */
/*.close {
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}*/

.modal-header {
	padding: 2px 16px;
	background-color: #fbfbfb;
	border-bottom: solid 1px #ccc;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #fbfbfb;
	border-top: solid 1px #ccc;
}

/**************************************************************/

#user-top {
	color: #000;
	text-decoration-line: none;
	float: right;
	margin: 4px 4px 0 0;
}

#admin-top {
	color: #000;
	text-decoration-line: none;
	float: right;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	margin-right: 2px;
	padding: 0 2px;
}

#user-top:hover, #admin-top:hover {
	background-color: rgba(0, 0, 0, .1);
}

#user-top b {
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
}

#admin-top b {
	display: inline-block;
	vertical-align: top;
	margin-top: 21px;
}

#top-user-picture {
	height: 40px;
	padding: 2px;
	border: solid 1px #ccc;
	border-radius: 50%;
}

#menu-top {
	margin: 2px 0 7px 0;
	list-style: none;
	text-align: right;
}

#menu-top>li {
	display: inline-block;
}

#menu-top>li>a {
	text-decoration-line: none;
	color: #000;
	padding: 5px 10px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu-top>li>a:hover {
	margin-bottom: -5px;
	border-bottom: solid 5px turquoise;
}

#menu-aside-toggle-btn {
	padding: 2px 8px;
	font-size: 25px;
}

#user-menu-aside>div>a,
#admin-menu-aside>div>a {
	text-decoration-line: none;
	display: block;
	padding: 5px;
	margin: 5px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	color: #000;
	box-shadow: 0 0 7px #ddd;
}

#user-menu-aside>div>a:hover,
#admin-menu-aside>div>a:hover {
	border-left: solid 10px turquoise;
	border-right: solid 10px turquoise;
}

.form-control {
	display: block;
	width: 97%;
	margin-right: 3%;
	border: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 0 5px;
}

.form-inline {
	display: inline-block;
	border: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 0 5px;
}

/*tables*/
.table {
	width: 100%;
	border-collapse: collapse;
}

.table-responsive {
	overflow-x: auto;
}

.table-responsive .table thead,
.table-responsive .table tfoot,
.table-responsive .table th,
.table-responsive .table tr,
.table-responsive .table td {
	white-space: nowrap;
}

.table-bordered thead,
.table-bordered tfoot,
.table-bordered th,
.table-bordered tr,
.table-bordered td {
	border: solid 1px #ddd;
}

.table-bordered-top thead,
.table-bordered-top tfoot,
.table-bordered-top th,
.table-bordered-top tr,
.table-bordered-top td {
	border-top: solid 1px #ddd;
}

.table-bordered-bottom thead,
.table-bordered-bottom tfoot,
.table-bordered-bottom th,
.table-bordered-bottom tr,
.table-bordered-bottom td {
	border-bottom: solid 1px #ddd;
}

.table-hover tr:hover {
	background-color: #eee;
}

.table-head {
	background-color: #eee;
	color: #000;
}

.table th,
.table td {
	padding: 15px 5px;
}

.input {
	margin-bottom: 15px;
}

.btn {
	padding: 7px 10px;
	margin: 2px;
	color: #000;
	text-decoration-line: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.btn-default {
	background-color: #fbfbfb;
	border: solid 1px #aaa;
}

.btn-warning {
	color: #fff;
	font-weight: bold;
	background-color: #f0ad4e;
}

.btn-success {
	color: #fff;
	font-weight: bold;
	background-color: #5cb85c;
}

.btn-danger {
	color: #fff;
	font-weight: bold;
	background-color: #a00;
}

.btn-blue {
	color: #fff;
	font-weight: bold;
	background-color: #337ab7;
}

.btn-turquoise {
	color: #fff;
	font-weight: bold;
	background-color: turquoise;
}

/********************** media query **********************/
@media screen and (max-width:768px) {

	form input,
	form button[type="submit"],
	form select {
		height: 32px !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.hidden-xs {
		display: none;
	}

	#logo-top {
		height: 40px;
		padding: 5px;
	}

	#user-menu-aside,
	#admin-menu-aside {
		/*width: 70%;*/
	}

	.container {
		padding: 0 5px;
	}

	#user-signup,
	#user-signin,
	#admin-signup,
	#admin-signin,
	#createOrder {
		width: 80%;
		margin-left: 5%;
		padding: 0 15px 15px 15px;
	}

	.input-responsive {
		display: block;
		width: 100%;
	}
}


@media screen and (min-width:768px) {

	form input,
	form button[type="submit"],
	form select {
		height: 32px !important
	}

	.hidden-lg {
		display: none;
	}

	#logo-top {
		height: 45px;
		padding: 5px;
	}

	#user-menu-aside,
	#admin-menu-aside {
		/*width: 20%;*/
	}

	.container {
		padding: 0 30px;
	}

	#user-signup,
	#user-signin,
	#admin-signup,
	#admin-signin {
		width: 50%;
		margin-left: 25%;
		padding: 0 15px 15px 15px;
	}

	#createOrder {
		width: 70%;
		margin-left: 15%;
		padding: 0 15px 15px 15px;
	}

	.input-responsive {
		display: inline-block;
		width: 45%;
		margin-right: 3%;
	}
}

/*********************************************************************/